body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.margin-3 {
    margin: 3%;
}

.margin-tb-3 {
    margin: 3%;
}

.flex-box {
    display: flex;
    flex-wrap: wrap;
}

.box {
    width: 98%;
    margin: 1% 1% 3%;
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .box {
        width: 31%;
        margin: 1%;
    }
}